# Analyzing the UN General Assembly Debates data

In [1]:
# ## Imports
import pandas as pd
from pathlib import Path

In [2]:
import sys
sys.path.extend(['C:/Nayef/text-analytics-blueprints'])

In [3]:
# ## Loading data
dir = Path("C:/Nayef/text-analytics-blueprints/data")
file = "un-general-debates.csv"
df_un_debates = pd.read_csv(dir.joinpath(file))

In [4]:
df_un_debates.head(5)
df_un_debates.sample(5)

      session  year country                                               text
2353       65  2010     UGA  I did not attend the High-\nlevel Meeting on t...
6563       28  1973     ARE  ﻿76.\tMr. President, I am happy to extend to y...
5664       48  1993     UGA  I wish, on behalf of the\nUganda delegation, t...
3907       42  1987     CYP  ﻿\nIt is with great pleasure. Sit, that I exte...
2004       33  1978     LBR  ﻿251.\tThe delegation of Liberia extends its w...

In [5]:
df_un_debates.columns
df_un_debates.dtypes
df_un_debates.info()
df_un_debates.describe().T
# df_un_debates.describe(include=['0'])  # todo: include='0' should let us include categorical data  # noqa

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  7507 non-null   int64
 1   year     7507 non-null   int64
 2   country  7507 non-null   object
 3   text     7507 non-null   object
dtypes: int64(2), object(2)
memory usage: 234.7+ KB

,count,mean,std,min,25%,50%,75%,max
session,7507.0,49.610763,12.892155,25.0,39.0,51.0,61.0,70.0
year,7507.0,1994.610763,12.892155,1970.0,1984.0,1996.0,2006.0,2015.0