# Analyzing the UN General Assembly Debates data<br>
<br>

## Imports

In [2]:
import pandas as pd
from pathlib import Path

In [3]:
import sys

In [4]:
sys.path.extend(["C:/Nayef/text-analytics-blueprints"])

In [5]:
from IPython.core.interactiveshell import InteractiveShell  # noqa

In [6]:
InteractiveShell.ast_node_interactivity = "all"

## Loading data

In [7]:
dir = Path("C:/Nayef/text-analytics-blueprints/data")
file = "un-general-debates.csv"
df_un_debates = pd.read_csv(dir.joinpath(file))

In [8]:
df_un_debates.head(5)
df_un_debates.sample(5)

   session  year country                                               text
0       44  1989     MDV  ﻿It is indeed a pleasure for me and the member...
1       44  1989     FIN  ﻿\nMay I begin by congratulating you. Sir, on ...
2       44  1989     NER  ﻿\nMr. President, it is a particular pleasure ...
3       44  1989     URY  ﻿\nDuring the debate at the fortieth session o...
4       44  1989     ZWE  ﻿I should like at the outset to express my del...

      session  year country                                               text
3563       54  1999     GRC  I should like to express\nmy most sincere cong...
1392       51  1996     ZMB  ﻿It is with great pleasure that\nI take this o...
5070       66  2011     NER  “They shall beat their swords into ploughshare...
6412       45  1990     NPL  ﻿Allow me at the outset to convey to you, Sir,...
2489       39  1984     BLR  ﻿The delegation of the Byelorussian Soviet Soc...

In [9]:
df_un_debates.columns
df_un_debates.dtypes
df_un_debates.info()
df_un_debates.describe().T
df_un_debates.describe(include="all").T  # in book, they use include='0'

Index(['session', 'year', 'country', 'text'], dtype='object')

session     int64
year        int64
country    object
text       object
dtype: object

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7507 entries, 0 to 7506
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   session  7507 non-null   int64
 1   year     7507 non-null   int64
 2   country  7507 non-null   object
 3   text     7507 non-null   object
dtypes: int64(2), object(2)
memory usage: 234.7+ KB

,count,mean,std,min,25%,50%,75%,max
session,7507.0,49.610763,12.892155,25.0,39.0,51.0,61.0,70.0
year,7507.0,1994.610763,12.892155,1970.0,1984.0,1996.0,2006.0,2015.0

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
session,7507,NaN,NaN,NaN,49.6108,12.8922,25,39,51,61,70
year,7507,NaN,NaN,NaN,1994.61,12.8922,1970,1984,1996,2006,2015
country,7507,199,VEN,46,NaN,NaN,NaN,NaN,NaN,NaN,NaN
text,7507,7507,"﻿I am happy to extend to you, Sir, on my own b...",1,NaN,NaN,NaN,NaN,NaN,NaN,NaN